.chart rect {
  fill: steelblue;
}
.chart circle {
  fill: steelblue;
}
.chart text {
  font: 10px sans-serif;
}
.chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slice text {
  font: 14px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
